html, body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding-bottom: 60px;
}

h1 {
    font-family: 'Lobster', fantasy, sans-serif;
}

.container {
    margin: 0 auto;
}

.container > * + * {
    margin-top: 40px;
}

.overview {
    text-align: center;
    font-size: 2rem;
}

.overview h1 {
    font-size: 3em;
}

kbd {
    display: inline-block;
    background: #eee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 1px 3px;
    border-radius: 2px;
}

.overview ol {
    list-style-position: inside;
}

.overview li + li {
    margin-top: 10px;
}

.paste-area {
    overflow-x: auto;
    font-size: 1.4rem;
    margin: 0 auto;
}

.of-visible {
    overflow-x: visible !important;
}

.paste-area table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

.paste-area table td {
    min-width: 30px;
    padding: 5px 10px;
}

.paste-area .LunchSpan {
    width: auto;
    padding: 0;
    min-width: 30px;
}

.TimetableContent {
  text-transform: uppercase;
  color: grey;
  background-color: #f9efa4;
  cursor: pointer;
}

.TimetableContent.highlight {
  color: black;
  background-color: #CCFF33;
  cursor: pointer;
}

.paste-area .table-bordered td,
.paste-area .table-bordered th {
  border: 1px solid #616161 !important;
  vertical-align: middle;
}


.ColumnOneDays,
.TheoryHours,
.LabHours {
    font-weight: bolder;
}

.ColumnOneDays {
    background-color: #e2e2e2;
}

.TheoryHours {
    background-color: #CCCCFF;
}

.LabHours {
    background-color: #99CCFF;
}

.paste-area td div {
  font-size: 0.8em;
}

.user-error-message {
    text-align: center;
    font-size: 2rem;
    color: #333;
}

.download-area {
    text-align: center;
}

.download-button {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    border: 3px solid steelblue;
    color: steelblue;
    background-color: #fff;
    font-weight: bold;
    font-size: 3rem;
    border-radius: 5px;
    transition: color 0.5s ease-out,
                background-color 0.5s ease-out;
}

.download-button:hover {
    background-color: steelblue;
    color: #fff;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 50px;
}

footer a {
    font-size: 3rem;
    color: #333;
    text-decoration: none;
}

footer a:hover {
    color: steelblue;
}

@media (max-width: 1600px) {
    .paste-area {
        overflow-x: scroll;
    }

    .paste-area table {
        margin: 0;
    }

    .paste-area table td {
        min-width: 90px;
    }
}